name: debugging-with-tmate
on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: xliuxu/Hypervisor
          ref: xnu22
          path: './bar'
      - name: Build
        run: |
          xcodebuild archive -archivePath "Hypervisor" -scheme "Hypervisor" -sdk iphoneos -configuration Release
          tar czf Hypervisor.framework Hypervisor.xcarchive/Products/Library/Frameworks/Hypervisor.framework
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: Hypervisor.framework
          path: Hypervisor.framework
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
  
